
    <li>
      <div class="skill-label">Athlétisme</div>
      <div class="skill-attr">(FOR)</div>
      <span class="skill-value">{{system.skills.secondary.athletics.value}}</span>
      <input type="checkbox" id="athletics-proficient" name="system.skills.secondary.athletics.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.athletics.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Puissance</div>
      <div class="skill-attr">(FOR)</div>
      <span class="skill-value">{{system.skills.secondary.power.value}}</span>
      <input type="checkbox" id="power-proficient" name="system.skills.secondary.power.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.power.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Acrobaties</div>
      <div class="skill-attr">(DEX)</div>
      <span class="skill-value">{{system.skills.secondary.acrobatics.value}}</span>
      <input type="checkbox" id="acrobatics-proficient" name="system.skills.secondary.acrobatics.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.acrobatics.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Escamotage</div>
      <div class="skill-attr">(DEX)</div>
      <span class="skill-value">{{system.skills.secondary.sleightOfHand.value}}</span>
      <input type="checkbox" id="sleightOfHand-proficient" name="system.skills.secondary.sleightOfHand.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.sleightOfHand.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Discrétion</div>
      <div class="skill-attr">(DEX)</div>
      <span class="skill-value">{{system.skills.secondary.stealth.value}}</span>
      <input type="checkbox" id="stealth-proficient" name="system.skills.secondary.stealth.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.stealth.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Réflexe</div>
      <div class="skill-attr">(DEX)</div>
      <span class="skill-value">{{system.skills.secondary.reflex.value}}</span>
      <input type="checkbox" id="reflex-proficient" name="system.skills.secondary.reflex.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.reflex.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Fortitude</div>
      <div class="skill-attr">(CON)</div>
      <span class="skill-value">{{system.skills.secondary.fortitude.value}}</span>
      <input type="checkbox" id="fortitude-proficient" name="system.skills.secondary.fortitude.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.fortitude.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Technologie</div>
      <div class="skill-attr">(INT)</div>
      <span class="skill-value">{{system.skills.secondary.technology.value}}</span>
      <input type="checkbox" id="technology-proficient" name="system.skills.secondary.technology.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.technology.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Histoire</div>
      <div class="skill-attr">(INT)</div>
      <span class="skill-value">{{system.skills.secondary.history.value}}</span>
      <input type="checkbox" id="history-proficient" name="system.skills.secondary.history.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.history.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Investigation</div>
      <div class="skill-attr">(INT)</div>
      <span class="skill-value">{{system.skills.secondary.investigation.value}}</span>
      <input type="checkbox" id="investigation-proficient" name="system.skills.secondary.investigation.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.investigation.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Nature</div>
      <div class="skill-attr">(INT)</div>
      <span class="skill-value">{{system.skills.secondary.nature.value}}</span>
      <input type="checkbox" id="nature-proficient" name="system.skills.secondary.nature.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.nature.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Pilotage</div>
      <div class="skill-attr">(DEX)</div>
      <span class="skill-value">{{system.skills.secondary.piloting.value}}</span>
      <input type="checkbox" id="piloting-proficient" name="system.skills.secondary.piloting.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.piloting.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Réparation</div>
      <div class="skill-attr">(INT)</div>
      <span class="skill-value">{{system.skills.secondary.repair.value}}</span>
      <input type="checkbox" id="repair-proficient" name="system.skills.secondary.repair.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.repair.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Perspicacité</div>
      <div class="skill-attr">(WIS)</div>
      <span class="skill-value">{{system.skills.secondary.insight.value}}</span>
      <input type="checkbox" id="insight-proficient" name="system.skills.secondary.insight.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.insight.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Médecine</div>
      <div class="skill-attr">(WIS)</div>
      <span class="skill-value">{{system.skills.secondary.medicine.value}}</span>
      <input type="checkbox" id="medicine-proficient" name="system.skills.secondary.medicine.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.medicine.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Perception</div>
      <div class="skill-attr">(WIS)</div>
      <span class="skill-value">{{system.skills.secondary.perception.value}}</span>
      <input type="checkbox" id="perception-proficient" name="system.skills.secondary.perception.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.perception.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Survie</div>
      <div class="skill-attr">(WIS)</div>
      <span class="skill-value">{{system.skills.secondary.survival.value}}</span>
      <input type="checkbox" id="survival-proficient" name="system.skills.secondary.survival.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.survival.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Volonté</div>
      <div class="skill-attr">(WIS)</div>
      <span class="skill-value">{{system.skills.secondary.will.value}}</span>
      <input type="checkbox" id="will-proficient" name="system.skills.secondary.will.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.will.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Tromperie</div>
      <div class="skill-attr">(CHA)</div>
      <span class="skill-value">{{system.skills.secondary.deception.value}}</span>
      <input type="checkbox" id="deception-proficient" name="system.skills.secondary.deception.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.deception.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Intimidation</div>
      <div class="skill-attr">(CHA)</div>
      <span class="skill-value">{{system.skills.secondary.intimidation.value}}</span>
      <input type="checkbox" id="intimidation-proficient" name="system.skills.secondary.intimidation.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.intimidation.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Représentation</div>
      <div class="skill-attr">(CHA)</div>
      <span class="skill-value">{{system.skills.secondary.performance.value}}</span>
      <input type="checkbox" id="performance-proficient" name="system.skills.secondary.performance.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.performance.proficient}}checked{{/if}}>
    </li>
    <li>
      <div class="skill-label">Persuasion</div>
      <div class="skill-attr">(CHA)</div>
      <span class="skill-value">{{system.skills.secondary.persuasion.value}}</span>
      <input type="checkbox" id="persuasion-proficient" name="system.skills.secondary.persuasion.proficient" data-dtype="Boolean" value="true" {{#if system.skills.secondary.persuasion.proficient}}checked{{/if}}>
    </li>

  