<form class="sheet character-sheet">

<!---------------------------------------HEADER-------------------------------------------------> 
    
<div class="header">

        <div class="bloc-token">
            <img src="{{actor.img}}" alt="Character Image" class="character-image" id="character-image"/>
            <input type="file" name="character-image" accept="image/*" id="character-image-input" style="display: none;"/>
        </div>

        <div class ="header-info">
            <H2><input type="text" name="name" value="{{actor.name}}" placeholder="Nom du Personnage"/></H2>
            
            <div class ="container">
            <input type="number" name="system.attributes.pv.value" value="{{system.attributes.pv.value}}" min="0" max="{{system.attributes.pv.max}}"/>/<input type="number" name="system.attributes.pv.max" value="{{system.attributes.pv.max}}"/>
        </div>

        </div>
</div>

<!---------------------------------------TABS-------------------------------------------------> 

    <nav class="tabs-sheet">
        <button class="tab-button" data-tab="skills"><i class="fas fa-book"></i></button>
        <button class="tab-button" data-tab="inventory"><i class="fas fa-box"></i></button>
        <button class="tab-button" data-tab="character"><i class="fas fa-user"></i></button>
    </nav>


<!---------------------------------------COMPETENCES-------------------------------------------------> 

    <div id="skills" class="tab-content">

        <!---------PRINCIPALES-------->
        
        <div class="skills-container">

            <div class="skill">
                <label for="strength">Force</label>
                <input type="number" name="system.skills.strength.value" value="{{#if system.skills.strength.value}}{{system.skills.strength.value}}{{else}}1{{/if}}" min="0" max="99" />
            </div>

            <div class="skill">
                <label for="dexterity">Dextérité</label>
                <input type="number" name="system.skills.dexterity.value" value="{{#if system.skills.dexterity.value}}{{system.skills.dexterity.value}}{{else}}2{{/if}}" min="0" max="99" />  
            </div>

            <div class="skill">
                <label for="constitution">Constitution</label>
                <input type="number" name="system.skills.constitution.value" value="{{#if system.skills.constitution.value}}{{system.skills.constitution.value}}{{else}}3{{/if}}" min="0" max="99" />  
            </div>

            <div class="skill">
                <label for="intelligence">Intelligence</label>
                <input type="number" name="system.skills.intelligence.value" value="{{#if system.skills.intelligence.value}}{{system.skills.intelligence.value}}{{else}}4{{/if}}" min="0" max="99" />  
            </div>

            <div class="skill">
                <label for="wisdom">Sagesse</label>
                <input type="number" name="system.skills.wisdom.value" value="{{#if system.skills.wisdom.value}}{{system.skills.wisdom.value}}{{else}}5{{/if}}" min="0" max="99" />  
            </div>

            <div class="skill">
                <label for="charisma">Charisme</label>
                <input type="number" name="system.skills.charisma.value" value="{{#if system.skills.charisma.value}}{{system.skills.charisma.value}}{{else}}6{{/if}}" min="0" max="99" />  
            </div>

        </div>

         <!---------SECONDAIRES-------->

         <div class="skills-layout">
            <div class="skills-column">
                <h3>Compétences Secondaires</h3>
                <ul class="secondary-skills-list">
                    <li><div class="skill-label">Acrobaties</div> <div class="skill-attr">(DEX)</div> <span class="skill-value">{{system.secondarySkills.acrobatics.value}}</span> <input type="checkbox" name="system.secondarySkills.acrobatics.proficient"/></li>
                    <li><div class="skill-label">Athlétisme</div> <div class="skill-attr">(FOR)</div> <span class="skill-value">{{system.secondarySkills.athletics.value}}</span> <input type="checkbox" name="system.secondarySkills.athletics.proficient"/></li>
                    <li><div class="skill-label">Discrétion</div> <div class="skill-attr">(DEX)</div> <span class="skill-value">{{system.secondarySkills.stealth.value}}</span> <input type="checkbox" name="system.secondarySkills.stealth.proficient"/></li>
                    <li><div class="skill-label">Endurance</div> <div class="skill-attr">(CON)</div> <span class="skill-value">{{system.secondarySkills.endurance.value}}</span> <input type="checkbox" name="system.secondarySkills.endurance.proficient"/></li>
                    <li><div class="skill-label">Escamotage</div> <div class="skill-attr">(DEX)</div> <span class="skill-value">{{system.secondarySkills.sleightOfHand.value}}</span> <input type="checkbox" name="system.secondarySkills.sleightOfHand.proficient"/></li>
                    <li><div class="skill-label">Histoire</div> <div class="skill-attr">(INT)</div> <span class="skill-value">{{system.secondarySkills.history.value}}</span> <input type="checkbox" name="system.secondarySkills.history.proficient"/></li>
                    <li><div class="skill-label">Investigation</div> <div class="skill-attr">(INT)</div> <span class="skill-value">{{system.secondarySkills.investigation.value}}</span> <input type="checkbox" name="system.secondarySkills.investigation.proficient"/></li>
                    <li><div class="skill-label">Médecine</div> <div class="skill-attr">(SAG)</div> <span class="skill-value">{{system.secondarySkills.medicine.value}}</span> <input type="checkbox" name="system.secondarySkills.medicine.proficient"/></li>
                    <li><div class="skill-label">Perception</div> <div class="skill-attr">(SAG)</div> <span class="skill-value">{{system.secondarySkills.perception.value}}</span> <input type="checkbox" name="system.secondarySkills.perception.proficient"/></li>
                    <li><div class="skill-label">Pilotage</div> <div class="skill-attr">(DEX)</div> <span class="skill-value">{{system.secondarySkills.piloting.value}}</span> <input type="checkbox" name="system.secondarySkills.piloting.proficient"/></li>
                    <li><div class="skill-label">Technologie</div> <div class="skill-attr">(INT)</div> <span class="skill-value">{{system.secondarySkills.technology.value}}</span> <input type="checkbox" name="system.secondarySkills.technology.proficient"/></li>
                    <li><div class="skill-label">Tromperie</div> <div class="skill-attr">(CHA)</div> <span class="skill-value">{{system.secondarySkills.deception.value}}</span> <input type="checkbox" name="system.secondarySkills.deception.proficient"/></li>
                </ul>
            </div>
            <div class="skills-column"> 
                <!-- Ici tu pourras ajouter une autre liste de compétences plus tard -->
            </div>
        </div>


    </div>


<!---------------------------------------INVENTAIRE-------------------------------------------------> 

    <div id="inventory" class="tab-content" style="display: none;">
        <h2>Contenu de l'onglet Inventaire</h2>
    </div>


<!---------------------------------------PERSONNAGE-------------------------------------------------> 

    <div id="character" class="tab-content" style="display: none;">
        <h2>Contenu de l'onglet personnage</h2>  
    </div>




<!---------------------------------------------------------------------------------------->  
</form>