<form class="sheet character-sheet">

<!---------------------------------------HEADER-------------------------------------------------> 
    
<div class="header">

        <div class="bloc-token">
            <img src="{{actor.img}}" alt="Character Image" class="character-image" id="character-image" style="cursor:pointer;"/>
            <input type="file" name="character-image" accept="image/*" id="character-image-input" style="display: none;"/>
        </div>

        <div class ="header-info">
            <H2><input type="text" name="name" value="{{actor.name}}" placeholder="Nom du Personnage"/></H2>
            
            <div class ="container">
            <input type="number" name="system.attributes.pv.value" value="{{system.attributes.pv.value}}" min="0" max="{{system.attributes.pv.max}}"/>/<input type="number" name="system.attributes.pv.max" value="{{system.attributes.pv.max}}"/>
        </div>

        </div>
</div>

<!---------------------------------------TABS-------------------------------------------------> 

    <nav class="tabs-sheet">
        <button class="tab-button" data-tab="skills"><i class="fas fa-book"></i></button>
        <button class="tab-button" data-tab="inventory"><i class="fas fa-box"></i></button>
        <button class="tab-button" data-tab="character"><i class="fas fa-user"></i></button>
    </nav>


<!---------------------------------------COMPETENCES-------------------------------------------------> 

    <div id="skills" class="tab-content">

        <!---------PRINCIPALES-------->
        
        <div class="skills-container">

            <div class="skill">
                <label for="strength">Force</label>
                <input type="number" name="system.skills.primary.strength.value" value="{{system.skills.primary.strength.value}}" min="0" max="99" />
              </div>
              
              <div class="skill">
                <label for="dexterity">Dextérité</label>
                <input type="number" name="system.skills.primary.dexterity.value" value="{{system.skills.primary.dexterity.value}}" min="0" max="99" />  
              </div>
              
              <div class="skill">
                <label for="constitution">Constitution</label>
                <input type="number" name="system.skills.primary.constitution.value" value="{{system.skills.primary.constitution.value}}" min="0" max="99" />  
              </div>
              
              <div class="skill">
                <label for="intelligence">Intelligence</label>
                <input type="number" name="system.skills.primary.intelligence.value" value="{{system.skills.primary.intelligence.value}}" min="0" max="99" />  
              </div>
              
              <div class="skill">
                <label for="wisdom">Sagesse</label>
                <input type="number" name="system.skills.primary.wisdom.value" value="{{system.skills.primary.wisdom.value}}" min="0" max="99" />  
              </div>
              
              <div class="skill">
                <label for="charisma">Charisme</label>
                <input type="number" name="system.skills.primary.charisma.value" value="{{system.skills.primary.charisma.value}}" min="0" max="99" />  
              </div>
              

        </div>

         <!---------SECONDAIRES-------->

         <div class="skills-layout">
            <div class="skills-column">
                <h3>Compétences Secondaires</h3>
                <ul class="secondary-skills-list">
                {{> secondary-skills}}                           
                </ul>                      
            </div>
            <div class="skills-column"> 
                <!-- Ici tu pourras ajouter une autre liste de compétences plus tard -->
            </div>
        </div>


    </div>


<!---------------------------------------INVENTAIRE-------------------------------------------------> 

    <div id="inventory" class="tab-content" style="display: none;">
        <h2>Contenu de l'onglet Inventaire</h2>
    </div>


<!---------------------------------------PERSONNAGE-------------------------------------------------> 

    <div id="character" class="tab-content" style="display: none;">
        <h2>Contenu de l'onglet personnage</h2>  
    </div>




<!---------------------------------------------------------------------------------------->  
</form>